<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StepDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E2290D21CE5F70B007788BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E2290EB1CE5F70B007788BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E2290F61CE5F70B007788BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
